<div class="Main_container">
  <app-nav-bar></app-nav-bar>
  <!-- la balise main contiendras les info qui font etre rechatger pour la navigation-->
  <main class="main">
    <!-- une div pour le titre est les info principale-->
    <div class="main-title">
      <h1>{{ title | titlecase }}</h1>
      <p>{{ subTittle | lowercase }}</p>
    </div>
    <!-- Image presentationa -->
    <img src="img/Sans%20titre.png" alt="Image presentation" />
    <!-- presentation des dernieres sorties -->
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>

</div>
