<footer class="footer">
  <p>Copyright &copy; 2019</p>

  <div class="footer-section">
    <h2>Informations légales</h2>
    <p>Mentions légales : Cette page est la propriété de Cinaphoria. Tous droits réservés.</p>
    <p>Numéro SIRET : 123 456 789 00000</p>
    <p>Conditions générales d'utilisation et politique de confidentialité disponibles
      <a href="#" aria-label="Lien vers les documents légaux">ici</a>.
    </p>
  </div>
  <div class="footer-section">
    <h2>Contact</h2>
    <address>
      <p>Adresse : 36 avennue du canigou</p>
      <p>Téléphone : <a href="tel:+33123456789" aria-label="Téléphone de contact">+33 1 23 45 67 89</a></p>
      <p>Email : <a href="mailto:contact@cinaphoria.com"
                    aria-label="Email de contact">contactAtcinaphoria.com</a></p>
    </address>
  </div>
  <div class="footer-section">
    <h2>Réseaux sociaux</h2>
    <ul class="social-media">
      <li><a href="#" aria-label="Lien vers Facebook">Facebook</a></li>
      <li><a href="#" aria-label="Lien vers Twitter">Twitter</a></li>
      <li><a href="#" aria-label="Lien vers Instagram">Instagram</a></li>
      <li><a href="#" aria-label="Lien vers LinkedIn">LinkedIn</a></li>
    </ul>
  </div>
</footer>
